<h1>Add New Financial</h1>

<form action="/financial" method ="POST"> 
    <label for="">Date:</label>   
    <input name = "date" type="text">   

	<label for="">Month: </label>
    <input name = "month" type="text">

    <label for="">Monthly Budget: </label>    
    <input name = "monthly_budget" type="text">

    <label for="">Daily Budget: </label>    
    <input name = "daily_budget" type="text">

    <label for="">Expanses: </label>    
    <input name = "expanses" type="text">

    <label for="">Utility Bill: </label>    
    <input name = "utility_bill" type="text">

    <label for="">Banking Information: </label>    
    <input name = "banking_information" type="text">


    <button> Add Financial</button>
</form>