<h1>Add New Social Media list</h1>

<form action="/socimed" method ="POST"> 
    <label for="">Date:</label>   
    <input name = "page_name" type="text">   

	<label for="">Page URL: </label>
    <input name = "page_url" type="text">

    <label for="">Email: </label>    
    <input name = "email_used" type="text">

    <label for="">Password Hint: </label>    
    <input name = "password_hint" type="text">


    <button> Add Social Media</button>
</form>