<h1>Social Media list </h1>
<a href="/socialmedia/new">add new social media</a>

<% socimed.each do |socime|%>
    <h1><%= socime["page_name"]%></h1>
    <h1><%= socime["page_url"]%></h1>
    <h1><%= socime["email_used"]%></h1>
    <h1><%= socime["password_hint"]%></h1>

<%end%>

<a href="/mainpage"><button>Back to main page</button></a>