<style>
    input{
        border: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding:12px;
        background: #f2ff2f;
        border-radius: 3px;
        width: 260px;
    
        

    }

    button{
        border: none;
        background-color: transparent;
        font-family: 'Indie Flower', cursive;
    }
   
   h1{
       margin-top: 100px;
       margin-left: 550px;
   }

  

</style>
 

    



<body > 
<div class = "signinpage">
     <h1 class ="de">de TAREAS</h1>
    <form action="/sessions"  method = "POST">
        <div class = "signin">
            <div class = "email">
                 <label for="">Email Address</label>
                 <input type="text" name ="email">
                 
            </div>
            
            <div class = password>
                <label for="">Password</label>
                <input type="password" name="password"> 
                
            </div>   
            
            <div class = "login">
                <button>Sign In</button>
            </div> 
    
        </div>
          

           
    </form>
    
    
            <div class ="signup">
               <a href="/signup/new"><button>Sign Up</button></a>
               
            </div> 
             



</div>
   

</body>

