<h1>Welcome to your de TAREAS : Hub to organized your life</h1>

<h2>Profile</h2>

<form action="">
# here where your main profile 

 
</form>
<form action="" class = "main_page_button">

    <form action=""></form>
    <button>To-Do</button>

    <form action=""></form>
    <button>Soci-Med</button>

    <form action=""></form>
    <button>Quotes</button>

    <form action=""></form>
    <button>Financial</button>


    <form action=""></form>
    <button>Family</button>

    <form action=""></form>
    <button>Sign Out</button>


</form>




