<form action="/signup" method= "POST">
    
    <label for="">Name</label>
    <input type="text" name ="name">

    <label for="">E-mail</label>
    <input type="text" name ="email">

    <label for="">Password</label>
    <input type="password" name="password"> 

    <label for=""> Address</label>
    <input type="text" name ="address">

    <label for="">Contact Number</label>
    <input type="text" name ="contact_num">
    
	<button>Proceed</button>

    
</form>