<h1>Add New Family Members</h1>

<form action="/family" method ="POST"> 
    <label for="">Name:</label>   
    <input name = "name" type="text">   

	<label for="">Relationship: </label>
    <input name = "relationship" type="text">

    <label for="">Birth Day: </label>    
    <input name = "birth_date" type="text">

    <label for="">Address: </label>    
    <input name = "address" type="text">

    <label for="">Contact Number: </label>    
    <input name = "contact_num" type="text">


    <button> Add Family Members</button>
</form>