.signinpage{
        
    background-image: url(https://images.unsplash.com/photo-1543857778-c4a1a3e0b2eb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=353&q=80);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    width: 100%;
    height: 100%;
    top: 200px; 
    border: black;     
    
}

.signin{
   
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    margin-top: 200px;
    margin-right: 100px;
    margin-left: 450px;
    font-family: 'Indie Flower', cursive;
    align-items: center;
    width: 100px;
   


}

.login{
    position: absolute;
    text-decoration: none;
    color: rgb(168, 16, 16);
    border: 2px solid transparent;
    border-radius: 40px;
    font-size: 16px;
    background-image: linear-gradient(#fafafd,#edeff3),radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
    right: 350px;
    top: 500px;
}



body{
    

    color: black;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

h1{
    font-family: 'Kalam', cursive;
    font-size: 2rem;
}

.signup{
    top: 75px;
    right: 350px;
    position: absolute;
    text-decoration: none;
    color: rgb(168, 16, 16);
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#f2f3f7,#f3f7f5),radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;

}

.mainpage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:10px;
    position: relative;
    letter-spacing: 1ch;
    
  
   
    
}

.mainpage h2{
    color:black;
    font-family: 'Kalam', cursive;
    block-size: 10px;
    padding: 10px;
}


.heading{
    /* border: solid black; */
   
    /* height: 90px; */
    font-size: 12px;
    justify-content: center;
}

.heading h1{
    font-size: 1rem;
    vertical-align: center;

}

.content{
    /* border: solid black; */
    width: 400px;
    /* /* height: 200px; */
}

.content h1{
    font-size: 1rem;
}

.thumbnails{
    /* border: solid black; */
}

.thumbnails button{
    
    font-size: 12px;
    border-radius: 40px;
    background: linear-gradient(90deg,#575858,#93e9f7);
    border: none;

}

.todopage{
    border: solid black;
    padding: 10px;
}

button{
    
    
    font-size: 12px;
    border-radius: 40px;
    background: linear-gradient(90deg,#3a1088,#93e9f7);
    border: none;
    font-family: 'Kalam', cursive;
    
}

a{
    color: black;
    font-family: 'Kalam', cursive;
}

p{
    font-family: 'Kalam', cursive;
}

label{
    font-family: 'Kalam', cursive;
}

input{
    display: flex;
    flex-direction: column;
    
    
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding:12px;
    background: #f2ff2f;
    border-radius: 3px;
    width: 270px;
}

.task{
    border-radius: 3px;
    height: 100px;

}

h2{
    font-family: 'Kalam', cursive;
}