body{
    background-image: url(https://images.unsplash.com/photo-1587831968842-d3ea13fb7281?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);

    color: black;
    width: 100%;
    height: 100%;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

.signup{
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;

}