<h1>add new to-do list</h1>

<form action="/todo" method ="POST"> 
    <label for="">Date:</label>   
    <input name = "date" type="text">   

	<label for="">Task: </label>
    <input name = "task" type="text">

    <label for="">Completion Date: </label>    
    <input name = "completion_date" type="text">


    <button> Add to-do</button>
</form>